#header {
    background-color: rgb(1, 1, 102);
    color: white;
    padding: 100px;
    width: 100% auto;
    text-align: center;
    border-radius: 15px;
}

#articles-header {
    background-color: rgb(245, 245, 245);
    padding: 20px;
    border-radius: 10px 10px 0 0;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 20px;
}

#parameters {
    background-color: rgb(245, 245, 245);
    padding: 20px;
    border-radius: 10px 10px 0 0;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 20px;
}

#form {
    background-color:  rgb(255, 254, 254);
    padding: 20px;
    border-radius: 0 0 10px 10px;
    font-size: 18px;
    margin-top: 0px;

}

li {
    list-style-type: none;
}

input {
    width: 100%;
}

button {
    margin-top: 20px;
    background-color: rgb(245, 245, 245);
}

#topArticles {
    height: 100% auto;
    margin-bottom: 100px;
}