#header {
    background-color: rgb(1, 1, 102);
    color: white;
    padding: 100px;
    width: 100% auto;
    text-align: center;
    border-radius: 15px;
}

#parameters {
    background-color: rgb(245, 245, 245);
    padding: 20px;
    border-radius: 10px 10px 0 0;
    font-size: 18px;
    margin-top: 20px;
}

#form {
    background-color: rgb(252, 247, 247);
    padding: 20px;
    border: rgb(216, 216, 216), 1px;
    border-radius: 0 0 10px 10px;
    font-size: 18px;
}